name: go
on:
  push:
  pull_request:
jobs:
  lint:
    strategy:
      matrix:
        os: [windows-2019, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v4
    - uses: golangci/golangci-lint-action@v3
