name: go
on:
  push:
  pull_request:
jobs:
  lint:
    strategy:
      matrix:
        os: [windows-2019, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
    - uses: golangci/golangci-lint-action@v6
    - name: Unit Tests (Windows)
      if: runner.os == 'Windows'
      run: ./bin/test-unit.ps1
    - name: Unit Tests (Linux)
      if: runner.os == 'Linux'
      run: ./bin/test-unit
